
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type="number"] {
	-moz-appearance: textfield;
}

.text3danimate .text-area-word {
	position: relative;
}

.text3danimate span {
	display: inline-block;
	transform: translateZ(0);
	-webkit-transform: translateZ(0);
}

.text3d-main {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 1001;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

.text3d-content {
	background: rgba(200, 200, 200, 0.2);
	border-radius: 8px;
	padding: 20px;
}

.text3d-content img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

.chat-center-banner-main .keng-gift-count {
	position: absolute;
	bottom: -5px;
	min-width: 30px;
	border-radius: 14px;
	height: 14px;
	background: url(../img/giftcountbg.png) no-repeat 5px center #f858a2;
	left: 50%;
	transform: translateX(-50%);
	font-size: 12px;
	color: #fff;
	line-height: 13px;
	text-indent: 16px;
	padding-right: 5px;
	display: none;
}
.sendPacketModal,
.willopenModal,
.hasopenModal {
	position: fixed;
	display: flex;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 120;
	align-items: center;
	justify-content: center;
}

.sendPacket-content,
.willopen-content,
.hasopen-content {
	width: 338px;
	position: relative;
}

.sendPacket-content {
	height: 445px;
	background: url("../img/inputredpacket.png");
}

.willopen-content {
	text-align: center;
	height: 440px;
	background: url("../img/packetwillopen.png");
}

.hasopen-content {
	text-align: center;
	height: 440px;
	background: url("../img/packethasopen.png");
}

.sendpacket-close,
.willopen-close,
.hasopen-close {
	position: absolute;
	width: 30px;
	height: 30px;
	right: 0;
	top: 0;
	border-radius: 30 px;
	z-index: 9;
	cursor: pointer;
	background: url("../img/packetclose.png")
}

.packet-title {
	display: flex;
	width: 300px;
	height: 45px;
	color: white;
	font-weight: bold;
	list-style: none;
	margin: 0 auto;
	justify-content: space-around;
	margin-top: 13px;
}

.packet-title li {
	cursor: pointer;
	width: 100px;
	height: 44px;
	text-align: center;
	line-height: 45px;
	font-size: 18px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.selectedli {
	font-size: 22px!important;
	background: #ffd727;
	color: #fd1b4e;
}

.packet-tips {
	color: #999;
	font-size: 14px;
	width: 155px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	margin: 5px auto 0;
}

.packet-money,
.packet-num,
.packet-desc {
	display: flex;
	padding-right: 20px;
	width: 270px;
	height: 40px;
	border: none;
	margin: 15px auto 0;
	border-radius: 40px;
	line-height: 40px;
	outline: none;
	font-size: 14px;
	background: white;
	color: #666;
	padding-left: 20px;
}

.packet-money-input,
.packet-num-input {
	flex: 1 auto;
	margin-right: 10px;
	height: 40px;
	border: none;
	line-height: 40px;
	outline: none;
	font-size: 14px;
	background: white;
	color: #666;
	text-align: right
}

.inputpacket {
	width: 290px;
	height: 40px;
	border: none;
	border-radius: 40px;
	outline: none;
	padding-left: 20px;
	position: absolute;
	bottom: 20px;
	background: #ff224f;
	font-size: 22px;
	color: #fff000;
	left: 24px;
}

.packet-money-input::-webkit-input-placeholder,
.packet-num-input::-webkit-input-placeholder {
	color: #ccc;
	text-align: right
}

.packet-money-input::-moz-placeholder,
.packet-num-input::-moz-placeholder {
	color: #ccc;
	opacity: 1;
	text-align: right
}

.packet-num-big {
	width: 290px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin: 10px auto 0;
	color: #ff224f;
	font-size: 30px;
}

.packect-tips {
	width: 290px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #666;
	margin: 0 auto;
	font-size: 14px;
	overflow: hidden;
}

.ownerPic {
	width: 72px;
	height: 72px;
	border-radius: 72px;
	margin-top: 70px;
	border: 3px solid #fff55b;
}

.ownerPic-1 {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 3px solid #fff55b;
	margin-top: 15px;
}

.whospacket,
.whospacket-1 {
	width: 338px;
	height: 20px;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: white;
}

.whospacket {
	margin-top: 15px
}

.failTips {
	display: none
}

.whospacket-1 {
	margin-top: 5px
}

.packet-nickname {
	color: #fff55b
}

.ownerpacket-desc,
.ownerpacket-desc-1 {
	width: 338px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
}

.ownerpacket-desc {
	color: white;
	margin-top: 10px;
}

.ownerpacket-desc-1 {
	color: #666;
	margin-top: 10px;
}

.grabPacket {
	position: absolute;
	top: 287px;
	left: 122px;
	width: 95px;
	height: 95px;
	border-radius: 95px;
	background: #ffd727;
	color: #d50015;
	outline: none;
	border: 2px solid #ffd727;
	font-size: 45px;
	font-weight: bold
}

.packetType {
	position: absolute;
	bottom: 20px;
	width: 338px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 14px;
	color: #ffd727
}

.grapTips {
	width: 338px;
	height: 75px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.successTips {
	font-size: 14px;
	margin-top: 5px;
	color: #666666;
}

.leftTips {
	width: 320px;
	height: 20px;
	margin: 20px auto 0;
	color: #666;
	font-size: 14px;
}

.whoGrapPacket {
	width: 338px;
	height: 150px;
	list-style: none;
	margin: 15px auto;
	overflow: auto;
}

.whoGrapPacket li {
	display: flex;
	position: relative;
	width: 320px;
	margin: 0 auto;
	height: 70px;
	border-radius: 10px;
	align-items: center;
	background: white
}

.whoGrapPacket li:not(:first-child) {
	margin-top: 10px;
}

.whoGrapPacket li img {
	width: 48px;
	height: 48px;
	border-radius: 48px;
	border: 2px solid #ffd727;
	margin-left: 15px;
}

.graperInfo {
	color: #666;
	font-size: 14px;
	margin-left: 10px;
	width: 160px;
	overflow: hidden;
	text-align: left
}

.graperNum {
	color: #666;
	font-size: 14px;
	margin-left: 10px;
	overflow: hidden;
	text-align: center
}

.whoGrapPacket::-webkit-scrollbar-track {
	background-color: transparent;
}

.whoGrapPacket::-webkit-scrollbar {
	width: 5px;
}

.whoGrapPacket::-webkit-scrollbar-thumb {
	background-color: #ccc;
}
.zxh-mask {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 3000;
	background: rgba(0, 0, 0, 0.4);
}

.zxh-mask .zxh-close {
	cursor: pointer;
	position: absolute;
	right: -41px;
	top: -16px;
	width: 33px;
	height: 33px;
	background: url(../img/zxhcloseicon.png) no-repeat;
}

.zxh-mask .zxh-content {
	position: absolute;
	width: 390px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.zxh-write-content {
	height: 350px;
	background: url(../img/zxhwritebg.png) no-repeat;
}

.zxh-content {
	display: none;
}

.zxh-content .zxh-public-tag {
	position: absolute;
	left: -16px;
	top: -16px;
	width: 77px;
	height: 110px;
	background: url(../img/zxhpublictag.png) no-repeat;
}

.zxh-content .zxh-privte-tag {
	position: absolute;
	left: -16px;
	top: -16px;
	width: 77px;
	height: 110px;
	background: url(../img/zxhprivetag.png?v=1) no-repeat;
}

.zxh-content .zxh-write {
	margin-top: 123px;
	padding: 0 30px;
}

.zxh-content .zxh-textarea {
	background: #e63538;
	border-radius: 10px;
	padding: 10px
}

.zxh-content .zxh-textarea textarea {
	font-size: 22px;
	width: 100%;
	background: transparent;
	border: none;
	color: #fff;
	outline: medium
}

.zxh-content .zxh-textarea textarea::-webkit-input-placeholder {
	color: #f3aeaf;
	font-size: 22px;
}

.zxh-write-content .zxh-write-btn {
	margin-top: 6px;
	cursor: pointer;
	display: inline-block;
	width: 200px;
	height: 48px;
	background: url(../img/zxhfabubtn1.png) no-repeat;
}

.zxh-write-content .zxh-public-check {
	cursor: pointer;
	margin-top: 6px;
	line-height: 40px;
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 14px;
}

.zxh-write-content .zxh-public-check em {
	width: 22px;
	height: 22px;
	background: #e63538;
	border-radius: 100%;
	display: inline-block;
	position: relative;
	margin-right: 10px;
}

.zxh-write-content .zxh-public-check em img {
	display: none;
}

.zxh-write-content .zxh-public-check em.checked img {
	position: absolute;
	left: 0;
	top: -4px;
	display: block;
}

.zxh-rewrite-content {
	height: 330px;
	background: url(../img/zxhrewritevg1.png?v=3) no-repeat;
}

.zxh-rewrite-content .zxh-question {
	color: #fff;
	font-size: 16px;
	height: 66px;
	overflow: hidden;
}

.zxh-rewrite-content .zxh-line {
	height: 1px;
	background: #ccc;
	margin: 6px 0
}

.zxh-rewrite-content .zxh-ask {
	display: flex
}

.zxh-rewrite-content .zxh-ask .zxh-ask-write {
	flex: 1
}

.zxh-rewrite-content .zxh-ask-btn {
	margin-top: 6px;
	cursor: pointer;
	display: inline-block;
	width: 200px;
	height: 48px;
	background: url(../img/zxhaskbtn1.png) no-repeat;
}

.zxh-tips {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	translate(-50%, -50%);
	padding: 3px 16px;
	background: #000;
	font-size: 14px;
	border-radius: 4px;
	color: #fff;
}

.zxh-baoxiang {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	cursor: pointer;
	width: 684px;
	height: 596px;
	padding-top: 60px;
	background: url(../img/baoxiangbg.png?v=3) no-repeat center center;
}

.zxh-baoxiang p {
	color: #fff;
	text-align: center;
}

.captain_task {
	width: 246px;
	position: absolute;
	top: 0px;
	right: 10px;
}

.captain_task .tab_content {
	display: flex;
	align-items: center;
	justify-content: space-between
}

.captain_task .task_history_content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 2px solid #fee5eb;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.captain_task .tab_item {
	width: 70px;
	font-size: 14px;
	text-align: center;
	color: #999999;
	cursor: pointer;
}

.captain_task .yesterday_summary {
	margin-right: 10px;
	font-size: 14px;
	color: #ff6691;
	cursor: pointer;
}

.captain_task .current {
	background: #fee5eb;
	color: #ff6691
}

.captain_task .task_content {
	width: 242px;
	border: 2px solid #fee5eb;
	min-height: 136px;
	max-height: 370px;
	overflow: auto;
	border-radius: 6px;
	margin-top: -2px;
	background: #fff;
}

.captain_task .task_list,
.captain_task .history_user_list {
	padding-top: 6px
}

.captain_task .task_item_list,
.captain_task .user_item_list {
	width: 211px;
	height: 26px;
	margin: 0 auto;
	background: #f7f7f7;
	border-radius: 6px;
	font-size: 14px;
	color: #333333;
	line-height: 26px;
	display: flex;
	margin-top: 4px;
}

.captain_task .task_name {
	width: 161px;
	height: 26px;
	text-align: left
}

.captain_task .user_name {
	width: 161px;
	height: 26px;
	text-align: left;
	text-indent: 20px;
}

.captain_task .task_process,
.captain_task .user_status {
	width: 50px;
	height: 26px;
	text-align: center;
	color: #ff5588;
	background: #fee5eb;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
}

.captain_task .user_status {
	cursor: pointer;
}

.captain_task .task_status_btn {
	width: 140px;
	height: 24px;
	text-align: center;
	line-height: 24px;
	border-radius: 12px;
	font-size: 14px;
	margin: 0 auto;
	margin-top: 8px;
	cursor: pointer;
}

.captain_task .showMore {
	display: none;
	font-size: 12px;
	color: #666666;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	cursor: pointer;
}

.task_content::-webkit-scrollbar-track {
	background-color: transparent;
}

.task_content::-webkit-scrollbar {
	width: 5px;
}

.task_content::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #fee5eb;
}

.bangmask_active_little progress {
	width: 66px;
	height: 6px;
	border-radius: 6px;
	z-index: 1;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -10px;
}

.bangmask_active_little progress::-webkit-progress-bar {
	background-color: #eeeeee;
	border-radius: 6px;
}

.bangmask_active_little progress::-webkit-progress-value {
	background: #65ffb8;
	border-radius: 6px;
}

.captain_task .tab_content {
	display: flex;
	align-items: center;
	justify-content: space-between
}

.WPA3-SELECT-PANEL {
	z-index: 2147483647;
	width: 463px;
	height: 292px;
	margin: 0;
	padding: 0;
	border: 1px solid #d4d4d4;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 0 15px #d4d4d4;
}

.WPA3-SELECT-PANEL * {
	position: static;
	z-index: auto;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	width: auto;
	height: auto;
	max-height: auto;
	max-width: auto;
	min-height: 0;
	min-width: 0;
	margin: 0;
	padding: 0;
	border: 0;
	clear: none;
	clip: auto;
	background: transparent;
	color: #333;
	cursor: auto;
	direction: ltr;
	filter: ;
	float: none;
	font: normal normal normal 12px "Helvetica Neue", Arial, sans-serif;
	line-height: 16px;
	letter-spacing: normal;
	list-style: none;
	marks: none;
	overflow: visible;
	page: auto;
	quotes: none;
	-o-set-link-source: none;
	size: auto;
	text-align: left;
	text-decoration: none;
	text-indent: 0;
	text-overflow: clip;
	text-shadow: none;
	text-transform: none;
	vertical-align: baseline;
	visibility: visible;
	white-space: normal;
	word-spacing: normal;
	word-wrap: normal;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
	-webkit-outline: 0;
	-moz-outline: 0;
	-ms-outline: 0;
	-o-outline: 0;
	outline: 0;
	-webkit-text-size-adjust: none;
	font-family: Microsoft YaHei, Simsun;
}

.WPA3-SELECT-PANEL a {
	cursor: auto;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-TOP {
	height: 25px;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-CLOSE {
	float: right;
	display: block;
	width: 47px;
	height: 25px;
	background: url(../img/SelectPanel-sprites.png) no-repeat;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-CLOSE:hover {
	background-position: 0 -25px;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-MAIN {
	padding: 23px 20px 45px;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-GUIDE {
	margin-bottom: 42px;
	font-family: "Microsoft Yahei";
	font-size: 16px;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-SELECTS {
	width: 246px;
	height: 111px;
	margin: 0 auto;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-CHAT {
	float: right;
	display: block;
	width: 88px;
	height: 111px;
	background: url(../img/SelectPanel-sprites.png) no-repeat 0 -80px;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-CHAT:hover {
	background-position: -88px -80px;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-AIO-CHAT {
	float: left;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-QQ {
	display: block;
	width: 76px;
	height: 76px;
	margin: 6px;
	background: url(../img/SelectPanel-sprites.png) no-repeat -50px 0;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-QQ-ANONY {
	background-position: -130px 0;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-LABEL {
	display: block;
	padding-top: 10px;
	color: #00a2e6;
	text-align: center;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-BOTTOM {
	padding: 0 20px;
	text-align: right;
}

.WPA3-SELECT-PANEL .WPA3-SELECT-PANEL-INSTALL {
	color: #8e8e8e;
}